/* INDICE
- RESET RULES
- LAYOUT RULES
- ELEMENT RULES
- DEBUG RULES */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 900px;
    margin: 0, auto;
}

img{
    max-height: 100%;
}

/* ----------LAYOUT RULES----------------------------------------------------- */

.row{
    min-height: 50px;
    display: flex;
}

/* ----------ELEMENT RULES----------------------------------------------------- */

/* ----------DEBUG RULES----------------------------------------------------- */
/* (elimina .debug dal body per disattivare) */


.debug{
    border: 2px dashed orange;
    padding: 10px;
}

header.debug{
    min-height: 100px;
    background-color: aquamarine;
}

main.debug{
    min-height: 100px;
    background-color: rgb(255, 244, 127);
}

footer.debug{
    min-height: 100px;
    background-color: rgb(159, 159, 159);    
}