/* INDICE
- RESET RULES
- LAYOUT RULES
- ELEMENT RULES
- DEBUG RULES */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 900px;
    margin: 0 auto; 
}

img{
    max-width: 100%;
    display: block;
}



/* ----------LAYOUT RULES----------------------------------------------------- */

.row{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col{
    flex-basis: calc(100%/3);
}

/* ----------ELEMENT RULES----------------------------------------------------- */

.etichetta{
    display: inline-block;
    font-size: 12px;
    color: white;
}

.sconto{
    background-color: red;
    padding: 4px 8px;
}

.extra{
    background-color: green;
    padding: 4px 8px;
}

.cuore{
    background-color: rgb(255, 255, 255);
    padding: 4px 10px;
    font-size: 24px;
    color: black;
}


/* ----------DEBUG RULES----------------------------------------------------- */
/* (modifica .debug dal css per disattivare) */


.debug{
    border: 2px dashed orange;
    padding: 10px;
}

.container.debug{
    border: 1px solid red;
}

header.debug{
    min-height: 100px;
    background-color: aquamarine;
}

main.debug{
    min-height: 100px;
    background-color: rgb(255, 244, 127);
    margin: 0;
}

footer.debug{
    min-height: 100px;
    background-color: rgb(159, 159, 159);    
}