
/* QUESTO è LO STYLE DEL BONUS */

/* INDICE
- RESET RULES
- LAYOUT RULES
- ELEMENT RULES
- DEBUG RULES */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    position: relative;
}

header{
    z-index: 50;
    position: fixed;
    top: 0px;
    min-height: 10px;
    width: 100%;   
}

header .container{
    padding: 0px 12px;
}

.container{
    max-width: 900px;
    margin: 36px auto; 
}

main .container{
    margin-top: 150px;
    /* compenso la misura dell'header fixed */
}

img{
    max-width: 100%;
    display: block;
}

img.logo{
    max-height: 36px;
    padding: 0px auto;
    display: inline-block;
}




/* ----------LAYOUT RULES----------------------------------------------------- */

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col.center{
    display: flex;
    justify-content: center;
}

.start-spaced{
    min-height: 0%;
    justify-content: flex-start;
    margin-right: 40%;
}

.end-spaced{
    min-height: 0%;
    justify-content: flex-end;
    margin-left: 40%;
}

.col{
    flex-basis: calc((100%-40px)/3);
}

.card{
    padding: 12px;
}

.testo{
    line-height: 16px;
    padding: 4px 0;
}


.gruppo-etichette{
    position: absolute;
    bottom: 40px;

}


.box-immagine{
    position: relative;
}


/* ----------ELEMENT RULES----------------------------------------------------- */



.etichetta{
    display: inline-block;
    font-size: 12px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}

.sconto{
    background-color: red;
    padding: 4px 8px;
    position: absolute;
    max-width: 46px;
    z-index: 10; 
}

.extra{
    background-color: green;
    padding: 4px 8px;
    position: absolute;
    left: 46px;
    z-index: 10;
}

.extra.singola{
    position: absolute;
    left: 0px;
    z-index: 10;
}

.cuore{
    background-color: rgb(255, 255, 255);
    padding: 4px 10px;
    font-size: 24px;
    color: black;
    position: absolute;
    right: 0px;
    top: 20px;   
}

.marca{
    font-size: 14px;
}

.prodotto{
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 600;
    line-height: 20px;
}

.attuale{
    font-size: 16px;
    font-weight: 600;
    color: red;
    margin-right: 2px;
}

.vecchio{
    font-size: 16px;
    text-decoration:line-through;
}

/* ----------HOVER RULES----------------------------------------------------- */

.hide {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: none;
  }
 

.c1:hover .hide {
    display: block;
}

.c2:hover .hide {
    display: block;
}

.c3:hover .hide {
    display: block;
}


.c4:hover .hide {
    display: block;
}

.c5:hover .hide {
    display: block;
}

.c6:hover .hide {
    display: block;
}


/* ----------DEBUG RULES----------------------------------------------------- */
/* (modifica .debug dal css per disattivare) */


.debug{
    border: 2px dashed orange;
}

.container.debug{
    border: 1px solid red;
}

header.debug{
    min-height: 100px;
    background-color: aquamarine;
}

main.debug{
    min-height: 100px;
    background-color: rgb(255, 244, 127);
    margin: 0;
}

footer.debug{
    min-height: 100px;
    background-color: rgb(159, 159, 159);    
}